<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link rel="icon" href="/Images/favicon.png"/>

        <link href="~/Content/Site.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/xTrack.css" rel="stylesheet" />

        <script src="~/Scripts/jquery.1.12.4.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/xTrack.js"></script>

    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" style='color:white'>xTrackt</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
                <div><input class='searchbox' type='text' /></div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav>
        <div class="mainpanel"></div>
    
        @RenderBody()

    </body>
</html>

<script>
    $(document).ready(function() {
        $('.mainpanel').css({ height: $(window).height() - 150 + 'px' });

        $('.searchbox').on('keydown', function(e) {
            if (e.keyCode == 13) {
                DoSearch($(this).val());
            }
        });

        $(window).on('resize', function() {
            $('.mainpanel').css({ height: $(window).height() - 150 + 'px' });
        });

        var ddItem1 = new CustomDropDownItem('Images/')
        var DD = new CustomDropDown(100)

    });
    
    function DoSearch(key) {
        var ss = new Search(key);
    }
</script>
